<div class="container">
    <div class="row">
        <h1 class="text-primary text-center">Pipes</h1>
    </div>

    <div class="mt-5">
        <!-- <h2 class="text-info">{{name | uppercase}}</h2>
        <h2 class="text-info">{{name}}</h2>
        <h2 class="text-info">{{name | titlecase}}</h2>
        <h2 class="text-info">{{name}}</h2>

        <h2 class="text-info">{{num}}</h2> 
        <h2 class="text-info">{{num | number}}</h2> 
        <h2 class="text-info">{{num | number:'1.2-4'}}</h2> 

        <h2 class="text-info">{{num | percent}}</h2> 
        <h2 class="text-info">{{num | percent: '3.1-2'}}</h2> 

        <h2 class="text-info">{{person}}</h2> 
        <h2 class="text-info">{{person | json}}</h2>  -->
        
        <!-- <h2 class="text-info">{{today}}</h2>
        <h2 class="text-info">{{today | date}}</h2>
        <h2 class="text-info">{{today | date: 'shortTime'}}</h2>
        <h2 class="text-info">{{today | date: 'fullDate'}}</h2>
        <h2 class="text-info">{{today | date: 'fullDate' | uppercase}}</h2>
        <h2 class="text-info">{{today | date: 'long'}}</h2>
        <h2 class="text-info">{{today | date: 'dd-MM-YYYY hh:mm:ss'}}</h2>
        <h2 class="text-info">{{today | date: 'dd-MMM-YYYY hh:mm:ss'}}</h2> -->

        <!-- <div class="d-grid gap-2 mx-auto col-6">
            <h2 class="text-info">{{today | date: format}}</h2>
            <hr>
            <button class="btn btn-info" (click)="updateFlag()">
                <span class="fs-4">{{flag}}</span>
            </button>
            <button class="btn btn-info" (click)="updateFlag()">
                <span class="fs-4">{{flag ? "Show Full Date" : "Show Short Date"}}</span>
            </button>
            <button class="btn btn-info" (click)="updateFlag()">
                <span class="fs-4">{{flag | caption}}</span>
            </button>
        </div> -->

        <list [personList]="pList"></list>
    </div>
</div>